body {
    background-color: #170F11;
    margin: 0;
}

.padre {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.hijo {
    height: 15%;
    width: 100%;
    background-color: #E2FCEF;
    display: flex;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #5C164E;
}